body {
    background-color: #f5f0e8;
    display: flex;
    height: 100vh;
    flex-direction: column;
    /* Stacks header and phone container vertically */
}

.header {
    font-size: 3.5rem;
    font-weight: bold;
    color: #075e54;
}

.phone-container {
    display: flex;
    justify-content: center;
    /* Centers the images horizontally */
    align-items: flex-start;
    /* Aligns items to the start of the container */
    width: 100%;
    /* Ensures the container takes full width */
}

.reminder-section {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

.payment-section {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

.testimonial-section {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

.faq-section {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

.description {
    font-size: 2rem;
    font-weight: regular;
    display: flex;
    color: #075e54;
}

.description p {
    margin: 2% 0%;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: middle;
}

.divider {
    border: none;
    border-top: 0.2rem solid #000000;
    margin-top: -0.2%;
}

.offer-cards {
    display: flex;
    align-items: stretch;
    /* Ensures all cards have the same height */
    justify-content: center;
    gap: 5%;
    margin-top: 2%;
    margin-bottom: 5%;
}

.text-start {
    font-size: 1.5rem;
    text-align: left;
    font-weight: regular;
    color: #d4ffca;
    margin-bottom: 2%;
}

.card-custom {
    flex: 1;
    /* Allows the card to grow and fill available space */
    min-height: 100%;
    /* Sets a minimum height to ensure consistency */
    border-radius: 30px;
    background-color: #003d3d;
    color: #d4ffca;
    text-align: center;
}

.btn-custom {
    background-color: #00ff57;
    color: #003d3d;
    min-width: 75%;
    border-radius: 30px;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
}

.signup {
    font-size: 1.5rem;
    font-weight: regular;
    color: #003d3d;
    margin-top: 2%;
}

.offer-card-title {
    font-size: 2rem;
    text-align: left;
    font-weight: regular;
    color: #d4ffca;
    margin-bottom: 2%;
}

.testimonial-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 5%;
}

.testimonial-card-rating {
    font-size: 2rem;
    text-align: center;
    font-weight: regular;
    color: #d4ffca;
    margin-bottom: 2%;
}

.testimonial {
    font-size: 3rem;
    text-align: center;
    font-weight: regular;
    color: #d4ffca;
    margin-bottom: 2%;
}

.testimonial-owner {
    font-size: 1.5rem;
    text-align: right;
    font-style: italic;
    font-weight: regular;
    color: #d4ffca;
    margin-bottom: 2%;
}

.card-custom-testimonial {
    border-radius: 30px;
    background-color: #003d3d;
    color: #d4ffca;
    text-align: center;
}

.price-info {
    font-size: 3rem;
    font-weight: regular;
    color: #d4ffca;
    margin-bottom: 2%;
}

.btn-custom:hover {
    background-color: #c8f5b5;
    color: #000000;
}

.accordion-item {
    background-color: #f5f0e8;
    color: #2c473e;
    font-size: 2rem;
    border: none;
    /* Remove default border */
    border-bottom: 1px solid #cccccc;
    /* Add thin line between items */
}

.accordion-button {
    color: #2c473e;
    font-size: 2rem;
    font-weight: bold;
    background-color: #f5f0e8;
    padding: 10px;
}

.accordion-button:focus {
    box-shadow: none;
    /* Remove focus outline */
}

.accordion-button::after {
    color: #2c473e;
}

.accordion-button:not(.collapsed) {
    background-color: #25d366; /* Change to your desired color */
    color: #333; /* Text color */
}

.accordion-button:focus {
    box-shadow: none; /* Remove default focus outline */
}

.accordion-body {
    color: #2c473e;
}

#title {
    margin-left: 10%;
}

#left_phone {
    width: 50%;
    /* Increased width for larger images */
    height: auto;
    /* Maintain aspect ratio */
    display: block;
    /* Ensure images are block elements */
    font-weight: bold;
    /* This won't affect images, but you can keep it */
    margin-top: 5%;
    padding-left: 10%;
}

#right_phone {
    width: 50%;
    /* Increased width for larger images */
    height: auto;
    /* Maintain aspect ratio */
    display: block;
    /* Ensure images are block elements */
    font-weight: bold;
    /* This won't affect images, but you can keep it */
    padding-right: 10%;
}

#product-title {
    font-size: 1.5rem;
    font-weight: regular;
    color: #000000;
    margin-bottom: 2%;
}

#payment-header {
    font-size: 3rem;
    font-weight: regular;
    color: #075e54;
    margin-bottom: 2%;
}

#testimonial-header {
    font-size: 3rem;
    font-weight: bold;
    color: #075e54;
}

#faq-header {
    font-size: 3rem;
    font-weight: bold;
    color: #075e54;
}

/* Media query for screens smaller than 1366px and bigger than 768px*/
@media (max-width: 1366px) and (min-width: 768px) {
    .testimonial-card-rating {
        font-size: 1.4rem;
    }

    .testimonial {
        font-size: 2.2rem;
    }

    .testimonial-owner {
        font-size: 1.2rem;
    }

    .testimonial-card {
        margin: 1%;
    }
}


/* Media query for screens smaller than 768px (adjust as needed) */
@media (max-width: 768px) {
    .phone-container {
        flex-direction: column;
        /* Stacks images vertically */
        align-items: center;
        /* Centers images horizontally */
    }
    
    #left_phone {
        width: 80%;
        /* Decreased width for smaller screens */
        padding-left: 0%;
    }

    #right_phone {
        width: 80%;
        /* Decreased width for smaller screens */
        padding-right: 0%;
    }

    #title {
        margin-left: 2%;
        margin-right: 2%;
    }

    .reminder-section {
        margin-left: 2%;
        margin-right: 2%;
    }

    .payment-section {
        margin-left: 2%;
        margin-right: 2%;
    }

    .testimonial-section {
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 5%;
    }

    .faq-section {
        margin-left: 2%;
        margin-right: 2%;
    }

    .header {
        font-size: 2.2rem;
    }

    #payment-header {
        font-size: 2.2rem;
    }

    #testimonial-header {
        font-size: 2.2rem;
    }
    
    #faq-header {
        font-size: 2.2rem;
    }

    .description {
        font-size: 1.2rem;
    }

    .offer-card-title {
        font-size: 1.5rem;
    }

    .testimonial-card-rating {
        font-size: 1.5rem;
    }

    .testimonial {
        font-size: 2rem;
    }

    .testimonial-owner {
        font-size: 1.2rem;
    }

    .price-info {
        font-size: 2.5rem;
    }

    .btn-custom {
        min-width: 50%;
    }

    .signup {
        font-size: 1.2rem;
    }

    .text-start {
        font-size: 1.2rem;
    }

    .accordion-item {
        font-size: 1.5rem;
    }

    .accordion-button {
        font-size: 1.5rem;
    }

    .accordion-body {
        font-size: 1.5rem;
    }

    .testimonial-card {
        margin: 2%;
    }
}